@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root{
  color-scheme: light dark;
}

html, body {
  scroll-behavior: smooth;
  background: light-dark(#edf2f4, #0b090a);
  min-height: 100dvh;
  width: 100%;
  margin: 0 auto;
  cursor: url(../design/cursor.png), auto!important;
}

a, i, input, img, h1, button, figure{
  cursor: url(../design/thumb.png), auto!important;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  border: 10px solid light-dark(#edf2f4, #0b090a);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

::-webkit-scrollbar-thumb {
  background: light-dark(#0b090a, #edf2f4);
  border: 3px solid light-dark(#edf2f4, #0b090a);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

::selection {
  color: brown;
}

.banner{
  display: flex;
  position: sticky;
  background: azure;
  height: 80px;
  min-width: 1310px;
  width: 100%;
  z-index: 100;
  animation: slideUP 2s ease forwards;
}

@keyframes slideUP {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}


.banner .scrolled{
  opacity: 0.5;
}

.banner{
  position: relative;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.1) insert;
}
.banner:before,
.banner:after{
  content:'';
  position: absolute;
  z-index: 1;
  box-shadow: 0 0 1px black;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

a{
  text-decoration: none;
}

nav
{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  padding: 15px 30px;
  width: 100%;
  z-index: 1000;
}

.logo{
  display: flex;
  position: relative;
  justify-content: left;
  align-items: center;
  height: fit-content;
}

.logo img{
  object-fit: contain;
  height: 200px;
  width: 200px;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}

.navigation a{
  padding: 0 30px;
  display: flex;
  color: #0b090a;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navigation a:hover{
  background: #14213d;
  color: azure;
}

.navigation{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100dvh;
  width: 250px;
  background-image: url(../design/you.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  filter:contrast(1.5);
  filter:saturate(1);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 10000;
}

.navigation li {
  width: 100%;
  line-height: 50px;
}

.option i{
  font-size: 1.7rem;
}
.shown{
  color: #0b090a;
  gap: 10px;
}
.menu-button i{
  font-size: 1.7rem;
  color: #14213d;
}
.shown li a 
{
text-decoration: none;
margin: 0px 10px;
padding: 6px 10px;
border-radius: 10px;
color: #0b090a;
}
nav li a.active
{
color: #582f0e;
border-bottom: 2px inset #333d29;
transition: all 0.1s;
}

.use i{
  color: #333d29;
  font-size: 1rem;
}

.use .drop-down, .use .drop-up{
  font-size: .7rem;
}


.menu-button{
  display: none!important;
  cursor: pointer;
}

.btn button{
  position: relative;
  padding: 6px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  color: azure;
  outline: none;
  cursor: pointer;
  border: unset;
  background: #414833;
  transition: all .2s;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.shown li a button:hover{
  background: #333d29;
}

.btn button:active{
  transform: scale(0.96);
  }

.bg{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  min-width: 1310px;
  width: 100%;
}

.bg .top{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  height: fit-content; 
  width: 100%;
}

.bg .top .here{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.bg .here p {
  color: light-dark(#0b090a, #edf2f4);
  font-size: 1.3rem;
}

.bg .top .here h1{
  font-size: 4rem;
  font-weight: 500;
  margin-block: 15px;
  color: light-dark(#0b090a, #edf2f4);
}

.bg .top .here h1 strong{
  position: relative;
}

.bg .top .here h1 strong::after{
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 1px light-dark(#0b090a, #edf2f4);
  color: transparent;
}

.bg .top .btn{
  font-size: 1.4rem;
  font-weight: 500;
  border: unset;
  outline: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 50px;
  color: azure;
  background: #414833;
  padding: 12px 20px;
  transition: all 450ms;
}


.bg .top .btn:hover{
  color:light-dark(#edf2f4, #0b090a);
  font-weight: 600;
  background: light-dark(#0b090a, #edf2f4);
}

.bg .top .btn:active{
 transform: scale(.9);
}

.cg{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to bottom, light-dark(#edf2f4, #0b090a), #333d29);
  gap: 20px;
  padding: 0 50px;
  padding-top: 50px;
  padding-bottom: 3px;
  min-height: 60dvh;
  min-width: 1310px;
  width: 100%;
}

.hey{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 20px 20px 0px 0px;
  background: linear-gradient(to bottom, light-dark(#edf2f4, #0b090a), #333d29);
  box-shadow: light-dark(#b1a7a6, #343a40) 0px 0px 0px -2px, light-dark(#b1a7a6, #343a40) 0px 0px 0px 1px;
  height: fit-content;
  overflow: hidden;
  max-width: 1600px;
  width: 100%;
}

.ello{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 12px 0px 0px 0px;
  background: azure;
  padding: 20px;
  height: 480px;
  width: 30%;
}

.ello .arr{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: left;
  width: 100%;
}

.ego{
 align-content: left;
 padding: 0px 10px;
 height: fit-content;
}

.ego img{
  height: 40px;
  width: 150px;
}

.so{
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 10px;
  justify-content: left;
  width: 100%;
}

.so a.active{
  padding: 5px;
  display: flex;
  background: #ccc;
  color: #0b090a;
  border-radius: 6px;
  width: 100%;
}

.so i{
  padding-right: 5px;
  color: #0b090a;
}
.so a{
  color: #0b090a;
}

.so .here{
  display: flex;
  padding: 5px;
}

li{
  list-style: none;
}

.lem{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  gap: 12px;
  width: 100%;
}

.lem button{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  font-size: 1rem;
  font-weight: 500;
  border: unset;
  outline: unset;
  border-radius: 6px;
  padding: 5px;
  width: 100%;
  transition: all 450ms;
}

.lem button .ko{
  font-size: 1.3rem;
}

.lem button:active{
  transform: scale(.9);
}

.lem .color{
  background: #0b090a;
  color: azure;
}

.ello .air{
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 10px;
  border-top: 1px solid #14213d;
  height: fit-content;
  width: 100%;
}

.air h2{
  padding: 0px 20px;
  color: #0b090a;
}

.air .lib{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: left;
  padding: 0px 20px;
  height: fit-content;
  width: 100%;
}

.lib i{
  color: #0b090a;
  font-size: .7rem;
  padding-right: 5px;
}

.lib a {
  color: #0b090a;
  padding-bottom: 10px;
}

.air .keen{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-block: 10px;
  width: 100%;
}

.air .above {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: right;
  padding: 0 15px;
  gap: 10px;
  width: 100%;
}

.air .above i{
  color: #022b3a;
  font-size: 1rem;
}

.air .top {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.air .top h2{
  font-size: 1.2rem;
  font-weight: 600;
}


.sep{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  padding: 20px;
  border-radius: 0px 12px 0px 0px;
  height: 480px;
  background: azure;
  width: 100%;
}

.sep .let{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
}

.sep .let .an{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: right;
  padding: 10px;
  height: fit-content;
  width: 100%;
}

.let .an i{
  display: flex;
  position: relative;
  color: #0b090a;
  font-size: 1.1rem;
  padding-right: 10px;
}

.let .an .mean{
  padding-right: 10px;
}


.sep .let .and{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding-block: 20px;
  border-bottom: 1px solid #14213d;
  width: 100%;
}

.sep .let .hip{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: left;
  padding: 10px;
  height: fit-content;
  width: 100%;
}

.let .hip h1{
  color: #0b090a;
  padding-left: 50px;
}


.sep .let .hop{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: right;
  padding: 10px;
  height: fit-content;
  width: 100%;
}

.let .hop button{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: #0b090a;
  color: azure;
  font-size: 1rem;
  font-weight: 500;
  border: unset;
  outline: unset;
  border-radius: 6px;
  padding: 5px;
  margin-right: 50px;
  width: 40%;
  transition: all 450ms;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.let .hop button:active{
  transform: scale(.9);
}

.sep .tel{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 100%;
}

.sep .tel .jk{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-inline: 50px;
  gap: 20px;
  height: 140px;
  width: 100%;
}

.tel .jk .box{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
  height: 120px;
  width: 245px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all 450ms;
}

.tel .jk .box:hover{
  transform: scale(1.1);
}

.tel .jk .box-1{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.tel .jk .chill{
  background: #022b3a;
}
.tel .jk .chill-1{
  background: #ffd100;
}
.tel .jk .chill-2{
  background: #502f4c;
}
.tel .jk .chill-3{
  background: #ff5e5b;
}

.tel .jk .box-2{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: left;
  padding: 5px 10px;
  height: 90px;
  background: azure;
  height: 100%;
  width: 100%;
}

.tel .jk .box-2 h3{
  color: #022b3a;
  font-weight: 620;
}
.tel .jk .box-2 small{
  color: #022b3a;
}

.sep .tel .kj{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-inline: 50px;
  gap: 20px;
  height: 140px;
  width: 100%;
}

.tel .kj .box{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
  height: 120px;
  width: 245px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all 450ms;
}

.tel .kj .box:hover{
  transform: scale(1.1);
}

.tel .kj .box-1{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.tel .kj .hell{
  background: #333533;
}
.tel .kj .hell-1{
  background: #ba181b;
}
.tel .kj .hell-2{
  background: #6b9080;
}
.tel .kj .hell-3{
  background: #eb5e28;
}

.tel .kj .box-2{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: left;
  padding: 5px 10px;
  height: 90px;
  background: azure;
  height: 100%;
  width: 100%;
}

.tel .kj .box-2 h3{
  color: #022b3a;
  font-weight: 620;
}
.tel .kj .box-2 small{
  color: #022b3a;
}


.dg{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  padding-inline: 50px;
  min-width: 1310px;
  background-image: url(../design/wave.svg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 100%;
}

.dg h1{
  font-size: 3rem;
  font-weight: 500;
  padding: 10px;
}

.dg .cheers{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-block: 30px;
  min-height: fit-content;
  width: 100%;
}

.cheers .cmd{
  display: flex;
  position: relative;
  justify-content: left;
  padding-inline: 20px;
  padding-block: 30px;
  flex-direction: column;
  height: fit-content;
  width: 100%;
}

.cmd h1{
   font-size: 2rem;
   font-weight: 600;
   color: light-dark(#0b090a, #edf2f4);
}
.cmd p{
  font-size: 1rem;
  font-weight: 400;
  color: light-dark(#0b090a, #edf2f4);
  padding-bottom: 20px;
}
.cmd button{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 12px;
  outline: unset;
  border: unset;
  background: light-dark(#0b090a, #edf2f4);
  color: light-dark(#edf2f4, #0b090a);
  transition: all 450ms;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  width: 100%;
}

.cmd button:active{
  transform: scale(.9);
}

.cmd button a{
  font-size: 1.2rem;
  font-weight: 500;
}

.cheers .dmd{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-inline: 20px;
  padding-block: 30px;
  min-height: 500px;
  width: 100%;
}

.dmd .lom{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 400px;
  border-radius: 12px;
  outline: 1px inset #ccc;
  background: light-dark(#edf2f4, #0b090a);
  overflow: hidden;
  width: 100%;
}

.dmd .lom:hover{
  outline: 2px outset #ccc;
}

.lom h1{
  font-size: 1.7rem;
  font-weight: 600;
  padding: 8px;
}

.lom .vate{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  height: 350px;
  width: 100%;
}

.vate .boxy{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px;
  padding-bottom: 10px;
  box-shadow: light-dark(#b1a7a6, #343a40) 0px 2px 0px -2px, light-dark(#b1a7a6, #343a40) 0px 0px 0px 1px;
  height: 150px;
  width: 170px;
  transition: all 450ms;
  overflow: hidden;
}

.vate .boxy img{
 object-fit: contain;
 height: 75px;
 width: 100px;
}

.vate .boxy small{
  padding-top: 10px;
}

.vate .boxy:hover{
  color: #14213d;
  transform: scale(1.1);
}

.vate .boxy:hover:nth-child(1){
  background: #eafffd;
}
.vate .boxy:hover:nth-child(2){
  background: #f8f4e3;
}
.vate .boxy:hover:nth-child(3){
  background: #ffebe7;
}
.vate .boxy:hover:nth-child(4){
  background: #f4f4f9;
}
.vate .boxy:hover:nth-child(5){
  background: #dcd6f7;
}
.vate .boxy:hover:nth-child(6){
  background: #f5f9e9;
}



@media screen and (max-width: 1600px){

  .tel .jk .box, .tel .kj .box{
    width: 210px;
  }
  .dg{
    background-size: contain;
  }
}

@media screen and (max-width: 1450px){

  .tel .jk .box, .tel .kj .box{
    width: 175px;
  }
}

@media screen and (max-width: 950px){
  .hide{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
